@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #f3eae3;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    z-index: 2;
   
}
.design{
    max-width: 550px;
    width: 90%;
    background-color: #fff;
    height: 400px;
    border-radius:9px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border: none;
    outline: none;
    display: flex;
    

}

.design img{
    height: 400px;
    border-radius: 9px 0px 0 9px;
}
.content{
   padding: 30px;
}
.title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
}
.content h1{
    font-family: 'Fraunces', serif;
    margin-top: 18px;
    line-height: 30px;
}
.body1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: hsl(228, 12%, 48%); 
    margin-top: 20px;
    margin-bottom: 20px;
}
.price{
    font-size: 32px;
    font-family: 'Fraunces', serif;
    color:  hsl(158, 36%, 37%);
}
.price span{
    position: absolute;
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-decoration:line-through;
    margin-left: 15px;
    margin-top: 11px;
}
button{
    font-family: 'Montserrat', sans-serif;  
    font-weight: 700;
    border-radius: 6px;
    margin-top: 20px;
    height: 45px;
    width: 100%;
    background-color:hsl(158, 36%, 37%);;
    color: #fff;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
button:hover{
    background-color: #194131;
}

.content #svg{
    padding: 10px;
    height: auto;
    width: auto;
    scale: 100%;
    display: flex;
}

@media (max-width: 375px){
    .design{
        display: block;
        height: 90%;
        scale: 100%;
    }
    .design img{
        height: 250px;
        width: 100%;
        object-fit: cover;
        border-radius: 9px 9px 0px 0;
    }
    .title{
        margin-top: -10px;
    }

    .content h1 {
        margin-top: 12px;
    }
}

/*
.bcontainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #eeeeee;
    z-index: -3;
    
}


.line1{
    position: absolute;
    width: 9px;
    height: 70px;
    background-color: #fac7c6;
    top: -10px;
    left: 205px;
    border-radius: 20px;
   
}

.line2{
    position: absolute;
    height: 9px;
    width: 40px;
    background-color: #fac7c6;
    top: 53px;
    left: 205px;
    border-radius: 20px;
}

.line11{
    position: absolute;
    height: 7px;
    width: 35px;
    background-color: #fac7c6;
    top: 53px;
    right: 200px;
    border-radius: 2px;
    transform: rotate(-40deg);
}
.line22{
    position: absolute;
    height: 7px;
    width: 35px;
    background-color: #fac7c6;
    top: 53px;
    right: 179px;
    border-radius: 2px;
    transform: rotate(-140deg);
}
.line33{
    position: absolute;
    height: 7px;
    width: 35px;
    background-color: #fac7c6;
    top: 53px;
    right: 158px;
    border-radius: 2px;
    transform: rotate(-40deg);
}
.line44{
    position: absolute;
    height: 7px;
    width: 35px;
    background-color: #fac7c6;
    top: 53px;
    right: 137px;
    border-radius: 2px;
    transform: rotate(-140deg);
}
.line55{
    position: absolute;
    height: 7px;
    width: 35px;
    background-color: #fac7c6;
    top: 53px;
    right: 116px;
    border-radius: 2px;
    transform: rotate(-40deg);
}
.line66{
    position: absolute;
    height: 7px;
    width: 35px;
    background-color: #fac7c6;
    top: 53px;
    right: 95px;
    border-radius: 2px;
    transform: rotate(-140deg);
}
.line77{
    position: absolute;
    height: 7px;
    width: 35px;
    background-color: #fac7c6;
    top: 53px;
    right: 74px;
    border-radius: 2px;
    transform: rotate(-40deg);
}

.skew{
    position: absolute;
    top: -10px;
    right: 63px;
}


.div{
    position: absolute;
    bottom: -5px;
}
.div1{
    position: absolute;
    bottom: -5px;
    left: 220px;
}
.div3{
    position: absolute;
    bottom: -5px;
    left: 238px;
}
.circle1{
    margin-top: 4px;
    border-radius: 100%;
    height: 12px;
    width: 12px;
    background-color: #6abed1;
}

.circles1{
    position: absolute;
    bottom: -90px;
    border-radius: 100%;
    background-color: #eeeeee;
    height: 150px;
    width: 150px;
    right: 250px;
    border: 7px solid  #dae3e9;
    
}

.left-line1{
    position: absolute;
    top: 25%;
    left: 0;
    background-color:  #dae3e9;
    height: 200px;
    width: 8px;
    border-radius: 10px;
    transform: rotate(30deg);
    left: 180px;
    z-index: 1;
}
.left-line2{
    position: absolute;
    top: 20%;
    margin-left: 55px;
    background-color:  #dae3e9;
    height: 200px;
    width: 8px;
    border-radius: 10px;
    transform: rotate(30deg);
    left: 180px;
    z-index: 1;
}

*/